.post-item:hover .blog-img {
    transform: scale(1.05);
    transition: all .4s linear;
}

.post-item:hover .blog-title {
    color: red;
}

.blog-title {
    color: #009F75;
    min-height: 120px;
}

.icon-like.active,
.icon-like:hover {
    color: blue;
}