.post-item {
    background-color: aliceblue;
}

.post-item:hover .blog-img {
    transform: scale(1.05);
    transition: all .4s linear;
}

.post-item:hover .blog-title {
    color: red;
}

.blog-title {
    color: #009F75;
    min-height: 8.5rem;
}

.comment-items {
    padding: 1rem;
}

.form-comment-items {
    padding: 1rem;
}

.btn-like {
    cursor: pointer;
}

.btn-like:hover {
    color: blue;
}

.btn-like {
    transform: rotate(-360deg);
    transition: transform 0.5s ease;
}

.btn-like.active {
    color: blue;
    transform: rotate(360deg);
    transition: transform 0.5s ease;
}

.btn-direct_comment:hover {
    color: red;
    transform: rotateY(360deg);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.btn-reply {
    color: #000;
    background-color: #FFF;
    text-decoration: none;
}

.btn-reply:hover span {
    text-decoration: underline;
    color: red;
}

.btn-reply:hover i {
    color: red;
}

.icon-like.active,
.icon-like:hover {
    color: blue;
}